include README.md
include pyproject.toml
include environment.yaml
include requirements.txt
include check_dependencies.sh
recursive-include 02_scripts *.py
recursive-include 03_configs *.yaml
recursive-include 04_data *.yaml .gitkeep
recursive-include docs *.md
recursive-include tests *.py
